<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~andrew.nicholas/headphones/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~andrew.nicholas/headphones/index.php [L]
</IfModule>